# 도로 현황 데이터를 탐색한다.

In [1]:
import pandas as pd
import numpy as np

In [2]:
road = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/도로 데이터/road(info).csv')

In [3]:
road.head()

,PRESENT_SN,LCLAS_CL,MLSFC_CL,SCLAS_CL,ATRB_SE,WTNNC_SN,NTFC_SN,DGM_NM,DGM_AR,DGM_LT,SIGNGU_SE,GRAD_SE,ROAD_TY,ROAD_NO,ROAD_ROLE,DRAWING_NO,EXCUT_SE,CREATE_DAT,geometry
0,44790UQ151PS202002170001,UQS120,NaN,NaN,UQS120,44790URZ202002170001,44790NTC202002170001,소로1류,2866.0,516.0,44790,소로,1,1,PMI0004,NaN,EMA0002,NaN,POLYGON ((186648.8845328394 426768.21876976715...
1,44790UQ151PS198912070518,UQS117,NaN,NaN,UQS117,44790URZ201902250028,44790NTC201902250005,중로1류,42515.0,3900.0,44790,중로,1,2,PMI0002,NaN,EMA0001,NaN,POLYGON ((195304.2347998489 424175.49662474345...
2,44790UQ151PS201808200065,UQS119,NaN,NaN,UQS119,44790URZ201911270024,44790NTC201911270017,중로3류,1041.0,211.0,44790,중로,3,2,PMI0004,NaN,EMA0002,NaN,POLYGON ((195921.31454736108 423903.1930209987...
3,44790UQ151PS201808200076,UQS122,NaN,NaN,UQS122,44790URZ201911150023,44790NTC201911150016,소로3류,1185.0,411.0,44790,소로,3,10,PMI0004,NaN,EMA0003,NaN,POLYGON ((195289.53948418004 423417.6548667165...
4,44790UQ151PS199903270383,UQS121,NaN,NaN,UQS121,44790URZ201911140020,44790NTC201911140013,소로2류,1012.0,290.0,44790,소로,2,44,PMI0004,NaN,EMA0003,NaN,"POLYGON ((182209.87294025175 427477.455058227,..."

In [4]:
road

,PRESENT_SN,LCLAS_CL,MLSFC_CL,SCLAS_CL,ATRB_SE,WTNNC_SN,NTFC_SN,DGM_NM,DGM_AR,DGM_LT,SIGNGU_SE,GRAD_SE,ROAD_TY,ROAD_NO,ROAD_ROLE,DRAWING_NO,EXCUT_SE,CREATE_DAT,geometry
0,44790UQ151PS202002170001,UQS120,NaN,NaN,UQS120,44790URZ202002170001,44790NTC202002170001,소로1류,2866.0,516.0,44790,소로,1,1,PMI0004,NaN,EMA0002,NaN,POLYGON ((186648.8845328394 426768.21876976715...
1,44790UQ151PS198912070518,UQS117,NaN,NaN,UQS117,44790URZ201902250028,44790NTC201902250005,중로1류,42515.0,3900.0,44790,중로,1,2,PMI0002,NaN,EMA0001,NaN,POLYGON ((195304.2347998489 424175.49662474345...
2,44790UQ151PS201808200065,UQS119,NaN,NaN,UQS119,44790URZ201911270024,44790NTC201911270017,중로3류,1041.0,211.0,44790,중로,3,2,PMI0004,NaN,EMA0002,NaN,POLYGON ((195921.31454736108 423903.1930209987...
3,44790UQ151PS201808200076,UQS122,NaN,NaN,UQS122,44790URZ201911150023,44790NTC201911150016,소로3류,1185.0,411.0,44790,소로,3,10,PMI0004,NaN,EMA0003,NaN,POLYGON ((195289.53948418004 423417.6548667165...
4,44790UQ151PS199903270383,UQS121,NaN,NaN,UQS121,44790URZ201911140020,44790NTC201911140013,소로2류,1012.0,290.0,44790,소로,2,44,PMI0004,NaN,EMA0003,NaN,"POLYGON ((182209.87294025175 427477.455058227,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260544,41110UQ151PS202011304006,UQS122,NaN,NaN,UQS122,41110URZ201601080283,41110NTC201601080343,소로3류/(소로3-732),226.0,103.0,41110,소로,3,732,PMI0004,NaN,EMA0001,NaN,POLYGON ((199596.37231226874 518927.0319619615...
260545,41110UQ151PS202011304005,UQS120,NaN,NaN,UQS120,41110URZ201601110021,41110NTC201601110083,소로1류/(소로1-409),479.0,109.0,41110,소로,1,409,PMI0004,NaN,EMA0001,NaN,POLYGON ((199517.05534934788 518901.3209025685...
260546,41110UQ151PS202011304004,UQS115,NaN,NaN,UQS115,41110URZ202007010341,41110NTC202007011512,대로2류/(대로2-17),18576.0,1134.0,41110,대로,2,17,PMI0002,NaN,EMA0001,NaN,"POLYGON ((201582.2360597346 519024.8258553568,..."
260547,41110UQ151PS202011304002,UQS116,NaN,NaN,UQS116,41110URZ201603030310,41110NTC201603030362,대로3류/(대로3-68),25470.0,1784.0,41110,대로,3,68,PMI0002,NaN,EMA0001,NaN,POLYGON ((204881.31717218895 515886.3834115895...
260548,41110UQ151PS202011304000,UQS115,NaN,NaN,UQS115,41110URZ201603030308,41110NTC201603030362,대로2류/(대로2-15),8898.0,636.0,41110,대로,2,15,PMI0002,NaN,EMA0001,NaN,POLYGON ((205377.67817893298 515829.8827830314...

In [5]:
road.describe()

             DGM_AR        DGM_LT      SIGNGU_SE
count  2.599940e+05  2.599990e+05  260549.000000
mean   7.302395e+03  9.089354e+02   39450.773981
std    4.195706e+04  5.378739e+03   10931.736922
min   -1.024491e+06  0.000000e+00   11000.000000
25%    4.590000e+02  1.600000e+02   30000.000000
50%    1.131000e+03  3.110000e+02   41630.000000
75%    3.012750e+03  6.430000e+02   47210.000000
max    2.754165e+06  1.311673e+06   52800.000000

In [21]:
road.isnull()['PRESENT_SN']

0         False
1         False
2         False
3         False
4         False
          ...
260544    False
260545    False
260546    False
260547    False
260548    False
Name: PRESENT_SN, Length: 260549, dtype: bool

In [23]:
null_data = road.isnull().sum()

In [26]:
null_data.to_csv('null_data.csv', index = False)