In [1]:
import pandas as pd
import dask.dataframe as ddf
import numpy as np

In [2]:
c = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-소통/1/its_c_1_1_m1.csv', dtype={'링크ID':'object'})
e = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-돌발/1/its_e_1_1_m1.csv', dtype='object')
w = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_1_m1.csv')
r = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/도로 데이터/road(info)_m1.csv')
area = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국교통사고다발지역표준데이터/전국교통사고다발지역표준데이터.csv')
cam = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국무인교통단속카메라표준데이터/전국무인교통단속카메라표준데이터_m1.csv')
node = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/node_m1.csv')
link = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/link_m1.csv')
men = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240731.csv')
con = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/혼잡빈도/confusion_1_m1.csv')

In [3]:
e = e.drop(['관리기관', 'X', 'Y', '돌발종료일시', '도로타입', '도로번호', '방향', '도로명', '돌발구분', '돌발내용'], axis=1)

In [4]:
w = w.drop(['지점명'], axis=1)

In [5]:
area = area.drop(['사고지역관리번호', '사고연도', '위치코드', '사고다발지역시도시군구', '사고지역위치명', '사망자수', '중상자수', '경상자수', '사고다발지역폴리곤정보',
       '데이터기준일자', '제공기관코드', '제공기관명'], axis=1)

In [6]:
cam = cam.drop(['무인교통단속카메라관리번호', '시도명', '시군구명', '소재지지번주소', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드', '제공기관명'], axis=1)

In [7]:
node = node.drop(['NODE_NAME', 'UPDATEDATE'], axis=1)

In [8]:
link = link.drop(['ROAD_NAME', 'REST_VEH', 'REST_W', 'REST_H', 'C-ITS', 'UPDATEDATE', 'geometry', 'ROAD_RANK', 'ROAD_TYPE', 'ROAD_NO', 'CONNECT', 'MULTI_LINK', 'ROAD_USE'], axis=1)

In [9]:
men = men.drop(['행정기관코드',
                      '기준연월',
                      '0세남자',
                      '1세남자',
                      '2세남자',
                      '3세남자',
                      '4세남자',
                      '5세남자',
                      '6세남자',
                      '7세남자',
                      '8세남자',
                      '9세남자',
                      '10세남자',
                      '11세남자',
                      '12세남자',
                      '13세남자',
                      '14세남자',
                      '15세남자',
                      '16세남자',
                      '17세남자',
                      '18세남자',
                      '19세남자',
                      '20세남자',
                      '21세남자',
                      '22세남자',
                      '23세남자',
                      '24세남자',
                      '25세남자',
                      '26세남자',
                      '27세남자',
                      '28세남자',
                      '29세남자',
                      '30세남자',
                      '31세남자',
                      '32세남자',
                      '33세남자',
                      '34세남자',
                      '35세남자',
                      '36세남자',
                      '37세남자',
                      '38세남자',
                      '39세남자',
                      '40세남자',
                      '41세남자',
                      '42세남자',
                      '43세남자',
                      '44세남자',
                      '45세남자',
                      '46세남자',
                      '47세남자',
                      '48세남자',
                      '49세남자',
                      '50세남자',
                      '51세남자',
                      '52세남자',
                      '53세남자',
                      '54세남자',
                      '55세남자',
                      '56세남자',
                      '57세남자',
                      '58세남자',
                      '59세남자',
                      '60세남자',
                      '61세남자',
                      '62세남자',
                      '63세남자',
                      '64세남자',
                      '65세남자',
                      '66세남자',
                      '67세남자',
                      '68세남자',
                      '69세남자',
                      '70세남자',
                      '71세남자',
                      '72세남자',
                      '73세남자',
                      '74세남자',
                      '75세남자',
                      '76세남자',
                      '77세남자',
                      '78세남자',
                      '79세남자',
                      '80세남자',
                      '81세남자',
                      '82세남자',
                      '83세남자',
                      '84세남자',
                      '85세남자',
                      '86세남자',
                      '87세남자',
                      '88세남자',
                      '89세남자',
                      '90세남자',
                      '91세남자',
                      '92세남자',
                      '93세남자',
                      '94세남자',
                      '95세남자',
                      '96세남자',
                      '97세남자',
                      '98세남자',
                      '99세남자',
                      '100세남자',
                      '101세남자',
                      '102세남자',
                      '103세남자',
                      '104세남자',
                      '105세남자',
                      '106세남자',
                      '107세남자',
                      '108세남자',
                      '109세남자',
                      '110세이상 남자',
                      '0세여자',
                      '1세여자',
                      '2세여자',
                      '3세여자',
                      '4세여자',
                      '5세여자',
                      '6세여자',
                      '7세여자',
                      '8세여자',
                      '9세여자',
                      '10세여자',
                      '11세여자',
                      '12세여자',
                      '13세여자',
                      '14세여자',
                      '15세여자',
                      '16세여자',
                      '17세여자',
                      '18세여자',
                      '19세여자',
                      '20세여자',
                      '21세여자',
                      '22세여자',
                      '23세여자',
                      '24세여자',
                      '25세여자',
                      '26세여자',
                      '27세여자',
                      '28세여자',
                      '29세여자',
                      '30세여자',
                      '31세여자',
                      '32세여자',
                      '33세여자',
                      '34세여자',
                      '35세여자',
                      '36세여자',
                      '37세여자',
                      '38세여자',
                      '39세여자',
                      '40세여자',
                      '41세여자',
                      '42세여자',
                      '43세여자',
                      '44세여자',
                      '45세여자',
                      '46세여자',
                      '47세여자',
                      '48세여자',
                      '49세여자',
                      '50세여자',
                      '51세여자',
                      '52세여자',
                      '53세여자',
                      '54세여자',
                      '55세여자',
                      '56세여자',
                      '57세여자',
                      '58세여자',
                      '59세여자',
                      '60세여자',
                      '61세여자',
                      '62세여자',
                      '63세여자',
                      '64세여자',
                      '65세여자',
                      '66세여자',
                      '67세여자',
                      '68세여자',
                      '69세여자',
                      '70세여자',
                      '71세여자',
                      '72세여자',
                      '73세여자',
                      '74세여자',
                      '75세여자',
                      '76세여자',
                      '77세여자',
                      '78세여자',
                      '79세여자',
                      '80세여자',
                      '81세여자',
                      '82세여자',
                      '83세여자',
                      '84세여자',
                      '85세여자',
                      '86세여자',
                      '87세여자',
                      '88세여자',
                      '89세여자',
                      '90세여자',
                      '91세여자',
                      '92세여자',
                      '93세여자',
                      '94세여자',
                      '95세여자',
                      '96세여자',
                      '97세여자',
                      '98세여자',
                      '99세여자',
                      '100세여자',
                      '101세여자',
                      '102세여자',
                      '103세여자',
                      '104세여자',
                      '105세여자',
                      '106세여자',
                      '107세여자',
                      '108세여자',
                      '109세여자',
                      '110세이상 여자'], axis=1)

In [10]:
con = con.drop(['VDS_ID', '기점종점방향구분코드'], axis=1)

In [11]:
spot = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/other/META_관측지점정보_20240825213356.csv')
def get_big_date(v):
    a = str(v)
    return a[:4] + '-' + a[4:6] + '-' + a[6:8]

def get_time(v):
    a = str(v).rjust(4, '0')
    return a[:2] + ':' + a[2:]

def remove_s(v):
    a = str(v)
    return a[:-2] + '00'

def custom_round(a):
    s = str(a)
    number = int(s[14:16])

    if number >= 53:
            return s
    else:
        remainder = number % 10  # 1의 자리 숫자를 얻기 위해 10으로 나눈 나머지로 한다.
    result = 0
    if remainder in [0, 1, 2]:
        result = number - remainder  # 0, 1, 2는 0으로 반올림
    elif remainder in [3, 4, 5, 6, 7]:
        result = number - remainder + 5  # 3, 4, 5, 6, 7은 5로 반올림
    else:
        result = number - remainder + 10  # 8, 9는 0으로 반올림

    return s[:14] + str(result) + s[16:]


def get_distance(a, b):
    #유클라디안 거리 계산기
    sq = (a['위도'] - b['위도']) ** 2 + (a['경도'] - b['경도']) ** 2
    return np.sqrt(sq)

def return_lat(a):
    return round(float(a.split()[2][:-1]), 4)

def return_long(a):
    return round(float(a.split()[1][1:]), 4)

def get_spot(a, b):
    b['거리'] = b.apply(lambda row: get_distance(row, a), axis=1, meta=('거리', 'float64'))
    m_d = max(b['거리'])
    return b['지점'][b['거리'] == m_d].iloc[0]



def get_nearest_spot(to_get_data):
    spot_list = spot['지점']
    to_get_data['위도'] = to_get_data['geometry'].apply(return_lat, meta=('geometry', 'str'))
    to_get_data['경도'] = to_get_data['geometry'].apply(return_long, meta=('geometry', 'str'))
    to_get_data = to_get_data.drop(['geometry'], axis=1)
    to_get_data['지점'] = to_get_data.apply(lambda row: get_spot(row, spot_list), axis=1, meta=('지점', 'int64'))

    return to_get_data

In [12]:
c['date'] = ddf.to_datetime(c['생성일'].apply(get_big_date, meta=('생성일', 'object')) + ' ' + c['생성시분'].apply(get_time, meta=('생성시분', 'object')))
c = c[pd.Index([c.columns[-1]]).append(c.columns[:-1])]
c = c.rename(columns={'링크ID':'LINK_ID'})
c = c.drop(['통행시간', '생성일', '생성시분'], axis=1)
c = c.compute()
c = c[c['LINK_ID']=='4180384001']
c = c.astype({'LINK_ID':'str'})

In [13]:
e = e.rename(columns={'링크아이디':'LINK_ID'})
e = e.astype({'LINK_ID':'str'})

In [14]:
e = e.compute()
e['date'] = pd.to_datetime(e['돌발일시'].apply(remove_s))
e = e[pd.Index([e.columns[-1]]).append(e.columns[:-1])]
e['date'] = pd.to_datetime(e['date'].apply(custom_round))

In [15]:
link = link.compute()
link = link.astype({'LINK_ID':'str', 'F_NODE':'str'})
link = link.rename(columns={'F_NODE':'NODE_ID'})

In [16]:
node = node.compute()
node = node.astype({'NODE_ID':'str'})

In [17]:
weather_spot = ddf.merge(w, spot, on='지점', how='inner')

In [18]:
each_combine = pd.merge(c, e, on=['date', 'LINK_ID'], how='left')

In [19]:
each_combine = pd.merge(each_combine, link, on='LINK_ID', how='inner')
each_combine

,date,LINK_ID,통행속도,돌발일시,돌발상세구분,NODE_ID,T_NODE,LANES,MAX_SPD,LENGTH
0,2023-01-01 00:00:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
1,2023-01-01 00:05:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
2,2023-01-01 00:10:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
3,2023-01-01 00:15:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
4,2023-01-01 00:20:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
...,...,...,...,...,...,...,...,...,...,...
191,2023-01-01 23:25:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
192,2023-01-01 23:35:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
193,2023-01-01 23:45:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
194,2023-01-01 23:50:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484
195,2023-01-01 23:55:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484

In [20]:
each_combine = pd.merge(each_combine, node, on='NODE_ID', how='inner')
each_combine['지점'] = 426
each_combine

,date,LINK_ID,통행속도,돌발일시,돌발상세구분,NODE_ID,T_NODE,LANES,MAX_SPD,LENGTH,NODE_TYPE,TURN_P,geometry,지점
0,2023-01-01 00:00:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
1,2023-01-01 00:05:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
2,2023-01-01 00:10:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
3,2023-01-01 00:15:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
4,2023-01-01 00:20:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2023-01-01 23:25:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
192,2023-01-01 23:35:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
193,2023-01-01 23:45:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
194,2023-01-01 23:50:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426
195,2023-01-01 23:55:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,101,0,POINT (128.66267001299698 35.16491199288493),426

In [21]:
# each_combine = get_nearest_spot(each_combine)
# each_combine = pd.merge(each_combine, weather_spot.compute(), on='지점', how='left')
each_combine = each_combine.drop(['NODE_TYPE', 'TURN_P'], axis=1)
each_combine

,date,LINK_ID,통행속도,돌발일시,돌발상세구분,NODE_ID,T_NODE,LANES,MAX_SPD,LENGTH,geometry,지점
0,2023-01-01 00:00:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
1,2023-01-01 00:05:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
2,2023-01-01 00:10:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
3,2023-01-01 00:15:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
4,2023-01-01 00:20:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
...,...,...,...,...,...,...,...,...,...,...,...,...
191,2023-01-01 23:25:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
192,2023-01-01 23:35:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
193,2023-01-01 23:45:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
194,2023-01-01 23:50:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
195,2023-01-01 23:55:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426

In [22]:
each_combine

,date,LINK_ID,통행속도,돌발일시,돌발상세구분,NODE_ID,T_NODE,LANES,MAX_SPD,LENGTH,geometry,지점
0,2023-01-01 00:00:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
1,2023-01-01 00:05:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
2,2023-01-01 00:10:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
3,2023-01-01 00:15:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
4,2023-01-01 00:20:00,4180384001,88.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
...,...,...,...,...,...,...,...,...,...,...,...,...
191,2023-01-01 23:25:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
192,2023-01-01 23:35:00,4180384001,66.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
193,2023-01-01 23:45:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
194,2023-01-01 23:50:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426
195,2023-01-01 23:55:00,4180384001,97.0,NaN,NaN,4180030400,4180126901,2,60,178.402484,POINT (128.66267001299698 35.16491199288493),426

In [25]:
each_combine.to_csv('/Volumes/Expansion/traffic-prediction/product-data/1.csv', index=False)