In [1]:
import pandas as pd
import dask.dataframe as ddf

c_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-소통/1/its_c_1_1_m1.csv', dtype='object')
e_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-돌발/1/its_e_1_1_m1.csv', dtype='object')
w_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_1_m1.csv')
r = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/도로 데이터/road(info)_m1.csv')
area = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국교통사고다발지역표준데이터/전국교통사고다발지역표준데이터.csv')
cam = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국무인교통단속카메라표준데이터/전국무인교통단속카메라표준데이터_m1.csv')
node = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/node_m1.csv')
link = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/link_m1.csv')
men = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240731.csv')
c = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/혼잡빈도/confusion_1_m1.csv')

In [2]:
lh = link.compute()

In [20]:
lh['LINK_ID'] == 1000000200

0        False
1        False
2        False
3        False
4        False
         ...
73639    False
73640    False
73641    False
73642    False
73643    False
Name: LINK_ID, Length: 548593, dtype: bool

In [9]:
c1h = c_1.head(1000000)

In [5]:
c1h

             생성일 생성시분        링크ID  통행속도 통행시간
0       20230101    0  1000000200  36.0    0
1       20230101    0  1000000300  13.0    0
2       20230101    0  1000000301  22.0    0
3       20230101    0  1000000302  21.0    0
4       20230101    0  1000000303   6.0    0
...          ...  ...         ...   ...  ...
999995  20230101    5  2930026202  18.0    0
999996  20230101    5  2930026203  18.0    0
999997  20230101    5  2930026301  30.0    0
999998  20230101    5  2930026302  30.0    0
999999  20230101    5  2930026303  30.0    0

[1000000 rows x 5 columns]

In [18]:
c1h.rename(columns={'링크ID':'LINK_ID'}, inplace=True)
lh = lh.astype({'LINK_ID':'str'})
c1h = c1h.astype({'LINK_ID':'str'})

In [16]:
c1h_lh = pd.merge(c1h, lh, on='LINK_ID', how='outer')

In [17]:
c1h_lh

,생성일,생성시분,LINK_ID,통행속도,통행시간,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,...,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,geometry
0,20230101,5,1000000100,35.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230101,0,1000000200,36.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20230101,5,1000000200,32.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230101,0,1000000300,13.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20230101,5,1000000300,13.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010636,NaN,NaN,4180388900,NaN,NaN,4.180131e+09,4.180132e+09,1.0,107.0,0.0,...,0.0,1.0,40.0,0.0,0.0,0.0,0.0,182.552365,20231211.0,LINESTRING (128.70548919796624 35.161228806211...
1010637,NaN,NaN,4180389000,NaN,NaN,4.180132e+09,4.180131e+09,3.0,107.0,0.0,...,0.0,0.0,80.0,0.0,0.0,0.0,0.0,216.481541,20231211.0,LINESTRING (128.7075771684888 35.1603100637833...
1010638,NaN,NaN,4180389100,NaN,NaN,4.180132e+09,4.180131e+09,1.0,107.0,0.0,...,0.0,0.0,40.0,0.0,0.0,0.0,0.0,700.049120,20231211.0,LINESTRING (128.71210951040825 35.156478273791...
1010639,NaN,NaN,4180389200,NaN,NaN,4.180131e+09,4.180132e+09,1.0,107.0,0.0,...,0.0,0.0,40.0,0.0,0.0,480.0,0.0,365.341350,20231211.0,LINESTRING (128.70583343563644 35.159436917698...
1010640,NaN,NaN,4180389300,NaN,NaN,4.180132e+09,4.180131e+09,1.0,107.0,0.0,...,0.0,1.0,40.0,5.0,0.0,0.0,0.0,242.857446,20231211.0,LINESTRING (128.7054053493841 35.1622938464217...

In [2]:
e1h = e_1.compute()

In [161]:
e1h.rename(columns={'도로번호':'ROAD_NO'}, inplace=True)

In [ ]:
e1h

In [ ]:
def remove_s(v):
    a = str(v)
    return a[:-2] + '00'


remove_s('2023-01-01 15:48:21')
e1h['date'] = pd.to_datetime(e1h['돌발일시'].apply(remove_s))

In [ ]:
def move_date_first(a):
    return pd.Index([a.columns[-1]]).append(a.columns[:-1])


e1h = e1h[move_date_first(e1h)]

In [ ]:
def get_big_date(v):
    a = str(v)
    return a[:4] + '-' + a[4:6] + '-' + a[6:8]


def get_time(v):
    a = str(v).rjust(4, '0')
    return a[:2] + ':' + a[2:]

print(get_time(103))

In [ ]:
c1h_lh['date'] = pd.to_datetime(c1h_lh['생성일'].apply(get_big_date) + ' ' + c1h_lh['생성시분'].apply(get_time))

In [ ]:
c1h_lh = c1h_lh[pd.Index([c1h_lh.columns[-1]]).append(c1h_lh.columns[:-1])]

In [ ]:
c1h_lh

In [ ]:
e1h

In [ ]:
def custom_round(a):
    s = str(a)
    number = int(s[14:16])
    
    if number >= 53:
        return s
    else:
        remainder = number % 10  # 1의 자리 숫자를 얻기 위해 10으로 나눈 나머지를 구합니다.
    result = 0
    if remainder in [0, 1, 2]:
        result =  number - remainder  # 0, 1, 2는 0으로 반올림
    elif remainder in [3, 4, 5, 6, 7]:
        result =  number - remainder + 5  # 3, 4, 5, 6, 7은 5로 반올림
    else:
        result =  number - remainder + 10  # 8, 9는 0으로 반올림
    
    return s[:14] + str(result) + s[16:]

In [ ]:
custom_round('2023-01-01 14:58:00')

In [ ]:
e1h['date'] = pd.to_datetime(e1h['date'].apply(custom_round))
e1h.rename(columns={'링크아이디':'LINK_ID'}, inplace=True)

In [ ]:
c1h_lh.astype({'LINK_ID':'str'})
e1h.astype({'LINK_ID':'str'})

c1h_lh_e1h = pd.merge(c1h_lh, e1h, on=['date', 'LINK_ID', 'ROAD_NO'], how='left')

In [ ]:
c1h_lh_e1h

In [ ]:
w1h = w_1.compute()

In [ ]:
w1h[20:]

In [ ]:
spot = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/other/META_관측지점정보_20240825213356.csv')

In [ ]:
spot['위도'][spot['지점'] == max(spot['지점'])]

In [ ]:
w1h_spot = pd.merge(w1h, spot, on=['지점', '지점명'], how='inner')

In [ ]:
w1h_spot

In [ ]:
l1h = link.compute()

In [ ]:
l1h

In [ ]:
l1h = l1h.astype({'LINK_ID':'str'})
c1h_lh_e1h = c1h_lh_e1h.astype({'LINK_ID':'str'})
c1h_lh_e1h_l1h = pd.merge(c1h_lh_e1h, l1h, on='LINK_ID', how='left')

In [ ]:
c1h_lh_e1h_l1h

In [ ]:
n1h = node.compute()

In [ ]:
n1h

In [ ]:
import geopandas as gpd
from pyproj import CRS, Transformer

# Shapefile 읽기
shapefile_path = '/Volumes/Expansion/traffic-prediction/data/표준노드링크/[2024-02-23]NODELINKDATA/MOCT_NODE.shp'
gdf = gpd.read_file(shapefile_path)

# 현재 좌표계 확인
print(gdf.crs)

# 변환을 위해 현재 좌표계에서 WGS84 좌표계(EPSG:4326)로 변환
gdf = gdf.to_crs(epsg=4326)

# 변환된 위도와 경도 데이터를 확인
gdf['longitude'] = gdf.geometry.x
gdf['latitude'] = gdf.geometry.y

# 변환된 데이터 출력
print(gdf[['longitude', 'latitude']])

In [ ]:
node

In [ ]:
n = node.compute()

In [206]:
n

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,geometry,ha,hi,위도,경도,hihi
0,3690003600,101,¿Ö°üÃ»³âÈ¸ÀÇ¼Ò,1,20230519,POINT (128.40143291923889 35.98756183745635),35.9876,128.4014,35.9876,128.4014,12
1,3690004304,101,¿Ö°üÁß¾ÓÃÊµîÇÐ±³,1,20230519,POINT (128.40517889519722 35.99951853267461),35.9995,128.4052,35.9995,128.4052,12
2,3690004601,101,¼®Àü¸®806-7,1,20230519,POINT (128.39722570374218 36.001455611485454),36.0015,128.3972,36.0015,128.3972,12
3,3690005000,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.39197629411416 36.002327493950276),36.0023,128.3920,36.0023,128.3920,12
4,3690011100,101,ÇØ¼Ö¾î¸°ÀÌÁý,0,20230519,POINT (128.39735795096786 36.0765099005522),36.0765,128.3974,36.0765,128.3974,12
...,...,...,...,...,...,...,...,...,...,...,...
206111,3680175100,101,¿¹»ê¸®927,0,20230519,POINT (128.28431169045686 35.92450917887177),35.9245,128.2843,35.9245,128.2843,12
206112,3680179500,101,´ë»ê¸®1044,0,20230519,POINT (128.32688295624902 35.92389285701867),35.9239,128.3269,35.9239,128.3269,12
206113,3680181600,102,ÀÛÀº¸®»ê190-1,0,20230519,POINT (128.2247550524357 35.859749436779275),35.8597,128.2248,35.8597,128.2248,12
206114,3690001100,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.34743407601076 35.960868712447535),35.9609,128.3474,35.9609,128.3474,12
206115,3690001500,101,¿µ¸®1084,0,20230519,POINT (128.35139335612965 35.96568230647233),35.9657,128.3514,35.9657,128.3514,12

In [241]:
    def get_distance(a, b):
        #유클라디안 거리 계산기
        sq = (a['위도'] - b['위도']) ** 2 + (a['경도'] - b['경도']) ** 2
        return np.sqrt(sq)

    def return_lat(a):
        return round(float(a.split()[2][:-1]), 4)

    def return_long(a):
        return round(float(a.split()[1][1:]), 4)

    def get_spot(a, b):
        b['거리'] = b.apply(get_distance, args=(a,), axis=1)
        m_d = max(b['거리'])
        return b['지점'][b['거리'] == m_d].iloc[0]

In [242]:
n['위도'] = n['geometry'].apply(return_lat)
n['경도'] = n['geometry'].apply(return_long)
n

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,geometry,ha,hi,위도,경도,hihi
0,3690003600,101,¿Ö°üÃ»³âÈ¸ÀÇ¼Ò,1,20230519,POINT (128.40143291923889 35.98756183745635),35.9876,128.4014,35.9876,128.4014,12
1,3690004304,101,¿Ö°üÁß¾ÓÃÊµîÇÐ±³,1,20230519,POINT (128.40517889519722 35.99951853267461),35.9995,128.4052,35.9995,128.4052,12
2,3690004601,101,¼®Àü¸®806-7,1,20230519,POINT (128.39722570374218 36.001455611485454),36.0015,128.3972,36.0015,128.3972,12
3,3690005000,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.39197629411416 36.002327493950276),36.0023,128.3920,36.0023,128.3920,12
4,3690011100,101,ÇØ¼Ö¾î¸°ÀÌÁý,0,20230519,POINT (128.39735795096786 36.0765099005522),36.0765,128.3974,36.0765,128.3974,12
...,...,...,...,...,...,...,...,...,...,...,...
206111,3680175100,101,¿¹»ê¸®927,0,20230519,POINT (128.28431169045686 35.92450917887177),35.9245,128.2843,35.9245,128.2843,12
206112,3680179500,101,´ë»ê¸®1044,0,20230519,POINT (128.32688295624902 35.92389285701867),35.9239,128.3269,35.9239,128.3269,12
206113,3680181600,102,ÀÛÀº¸®»ê190-1,0,20230519,POINT (128.2247550524357 35.859749436779275),35.8597,128.2248,35.8597,128.2248,12
206114,3690001100,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.34743407601076 35.960868712447535),35.9609,128.3474,35.9609,128.3474,12
206115,3690001500,101,¿µ¸®1084,0,20230519,POINT (128.35139335612965 35.96568230647233),35.9657,128.3514,35.9657,128.3514,12

In [245]:
n1['h'] = n1.apply(get_spot, args=(spot,), axis=1)

In [244]:
n1 = n.head(1000).copy()

In [ ]:
n1['hihi'].describe()

In [240]:
spot['지점'][spot['지점'] == 426].iloc[0]

426

In [246]:
n1

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,geometry,ha,hi,위도,경도,hihi,h
0,3690003600,101,¿Ö°üÃ»³âÈ¸ÀÇ¼Ò,1,20230519,POINT (128.40143291923889 35.98756183745635),35.9876,128.4014,35.9876,128.4014,12,426
1,3690004304,101,¿Ö°üÁß¾ÓÃÊµîÇÐ±³,1,20230519,POINT (128.40517889519722 35.99951853267461),35.9995,128.4052,35.9995,128.4052,12,426
2,3690004601,101,¼®Àü¸®806-7,1,20230519,POINT (128.39722570374218 36.001455611485454),36.0015,128.3972,36.0015,128.3972,12,426
3,3690005000,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.39197629411416 36.002327493950276),36.0023,128.3920,36.0023,128.3920,12,426
4,3690011100,101,ÇØ¼Ö¾î¸°ÀÌÁý,0,20230519,POINT (128.39735795096786 36.0765099005522),36.0765,128.3974,36.0765,128.3974,12,426
...,...,...,...,...,...,...,...,...,...,...,...,...
995,3850125000,102,¼º´ö»ê¾÷,0,20230519,POINT (128.82754059070578 35.24210505982457),35.2421,128.8275,35.2421,128.8275,12,426
996,3850126900,101,°¡Çöºô¸®Áö,0,20230519,POINT (128.8805914309019 35.24315388507209),35.2432,128.8806,35.2432,128.8806,12,426
997,3850128500,101,À¯ÅäÇÇ¾Æ»ç°Å¸®,1,20230519,POINT (128.90395842785972 35.243927620559724),35.2439,128.9040,35.2439,128.9040,12,426
998,3600282101,101,±ÝÈ£¾î¿ï¸²¾ÆÆÄÆ®,1,20230519,POINT (128.8037104845434 35.91767030443889),35.9177,128.8037,35.9177,128.8037,12,426
999,2800208601,104,±æ¼±±³,0,20230519,POINT (127.7282334326676 36.867718851262204),36.8677,127.7282,36.8677,127.7282,12,96

In [248]:
n1

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,geometry,ha,hi,위도,경도,h
0,3690003600,101,¿Ö°üÃ»³âÈ¸ÀÇ¼Ò,1,20230519,POINT (128.40143291923889 35.98756183745635),35.9876,128.4014,35.9876,128.4014,426
1,3690004304,101,¿Ö°üÁß¾ÓÃÊµîÇÐ±³,1,20230519,POINT (128.40517889519722 35.99951853267461),35.9995,128.4052,35.9995,128.4052,426
2,3690004601,101,¼®Àü¸®806-7,1,20230519,POINT (128.39722570374218 36.001455611485454),36.0015,128.3972,36.0015,128.3972,426
3,3690005000,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (128.39197629411416 36.002327493950276),36.0023,128.3920,36.0023,128.3920,426
4,3690011100,101,ÇØ¼Ö¾î¸°ÀÌÁý,0,20230519,POINT (128.39735795096786 36.0765099005522),36.0765,128.3974,36.0765,128.3974,426
...,...,...,...,...,...,...,...,...,...,...,...
995,3850125000,102,¼º´ö»ê¾÷,0,20230519,POINT (128.82754059070578 35.24210505982457),35.2421,128.8275,35.2421,128.8275,426
996,3850126900,101,°¡Çöºô¸®Áö,0,20230519,POINT (128.8805914309019 35.24315388507209),35.2432,128.8806,35.2432,128.8806,426
997,3850128500,101,À¯ÅäÇÇ¾Æ»ç°Å¸®,1,20230519,POINT (128.90395842785972 35.243927620559724),35.2439,128.9040,35.2439,128.9040,426
998,3600282101,101,±ÝÈ£¾î¿ï¸²¾ÆÆÄÆ®,1,20230519,POINT (128.8037104845434 35.91767030443889),35.9177,128.8037,35.9177,128.8037,426
999,2800208601,104,±æ¼±±³,0,20230519,POINT (127.7282334326676 36.867718851262204),36.8677,127.7282,36.8677,127.7282,96

In [250]:
n1['h'].describe()

count    1000.000000
mean      199.131000
std       171.796152
min        96.000000
25%        96.000000
50%        96.000000
75%       426.000000
max       726.000000
Name: h, dtype: float64