In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_1_m1.csv')

In [4]:
df

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...
369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [5]:
data_df = df['일시']

In [6]:
data_df

0         2023-04-01 00:00
1         2023-04-01 01:00
2         2023-04-01 02:00
3         2023-04-01 03:00
4         2023-04-01 04:00
                ...
369310    2023-04-29 20:00
369311    2023-04-29 21:00
369312    2023-04-29 22:00
369313    2023-04-29 23:00
369314    2023-04-30 00:00
Name: 일시, Length: 369315, dtype: object

KeyError: 'value'